@media only screen and (max-width: 1673px ){
header{
  height: 150px;
  width: 100%;
  background-color: white;
  max-width: 100%;
}


.logo {

  background: #fff;
  max-width: 100%;
  margin-right: 530px;
}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  max-width: 100%;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  
 
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
 max-width: 100%;
}
.topnav .icon {
  display: none;
}

.menu{
    display: flex;
margin-top: 50px;
margin-right: 180px;
}

}



@media only screen and (max-width: 1550px ){
header{
  height: 150px;
  width: 100%;
  background-color: white;
  max-width: 100%;
}


.logo {

  background: #fff;
  max-width: 100%;
  margin-right: 530px;
}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  max-width: 100%;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  
 
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
 max-width: 100%;
}
.topnav .icon {
  display: none;
}

.menu{
    display: flex;
margin-top: 50px;
margin-right: 180px;
}

}

@media only screen and (max-width: 1380px ){
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }

    header{
  height: 150px;
  width: 100%;
  background-color: white;
}

.menu{
      display: flex;
margin-top: 50px;
margin-right: 80px;
}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 500px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  
 
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
 
}
.topnav .icon {
  display: none;
}


    

    .hhh{
      height: 60px;
      
      background-color:#fff;
      margin-top:50px;
          width: 1181px;
          max-width: 100%;
      border-bottom:  1px solid #dde2e6;
   

      }
      .title{
        margin-left: 50px;
        padding-top: 5px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
        max-width: 1180px;
         background-color: #fff;
       }
     

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height:450px;
          margin-top: 50px;
          max-width: 31.9%;
          margin-left: 14px;

      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
      border: 2px solid black;
      width: 200px;
      height:33px;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      }

     footer{

      margin-left: 2px;

     }
    }




    @media only screen and (max-width: 1230px ){
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }

    header{
  height: 150px;
  width: 100%;
  background-color: white;
}

.menu{
      display: flex;
margin-top: 50px;
margin-right: 20px;
}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 500px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  
 
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
 
}
.topnav .icon {
  display: none;
}


    

    .hhh{
      height: 60px;
      
      background-color:#fff;
      margin-top:50px;
          width: 1181px;
          max-width: 100%;
      border-bottom:  1px solid #dde2e6;
   

      }
      .title{
        margin-left: 50px;
        padding-top: 5px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
        max-width: 1180px;
         background-color: #fff;
       }
     

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height:450px;
          margin-top: 50px;
          max-width: 31.9%;
          margin-left: 14px;

      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
      border: 2px solid black;
      width: 200px;
      height:33px;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      }

     footer{

      margin-left: 2px;

     }
    }



    @media only screen and (max-width: 1155px ){
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }

    header{
  height: 150px;
  width: 100%;
  background-color: white;
}

.menu{
      display: flex;
margin-top: 50px;
margin-right: 10px;

}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 460px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  
 
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
 
}
.topnav .icon {
  display: none;
}


    

    .hhh{
      height: 60px;
      
      background-color:#fff;
      margin-top:50px;
          width: 1181px;
          max-width: 100%;
      border-bottom:  1px solid #dde2e6;
   

      }
      .title{
        margin-left: 50px;
        padding-top: 5px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
        max-width: 1180px;
         background-color: #fff;
       }
     

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height:450px;
          margin-top: 50px;
          max-width: 31.9%;
          margin-left: 14px;

      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
      border: 2px solid black;
      width: 200px;
      height:33px;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      }

     footer{

      margin-left: 2px;

     }
    }


@media only screen and (max-width: 1130px ){
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }

    header{
  height: 150px;
  width: 100%;
  background-color: white;
}

.menu{
      display: flex;
margin-top: 50px;
margin-right: 10px;

}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 400px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  
 
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
 
}
.topnav .icon {
  display: none;
}
}



@media only screen and (max-width: 1040px ){
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }

    header{
  height: 120px;
  width: 100%;
  background-color: white;
}

.menu{
      display: flex;
margin-top: 20px;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;
}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 700px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  margin-top: 20px;
 
}

.icon{
  margin-top: 20px;
}

 .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -29px;
    display: block;
    color: black;
  
 
  }
  nav {
    width: 100%;
    height: 100px;
  }
  .topnav.responsive {
    position: relative;
    background-color: #fff;
    height: 500px;
    justify-content: center;
   flex-wrap: wrap;
  
  align-items: center;
    padding-left: 200px;
    padding-right: 130px;
    padding-bottom: 200px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }

  #image{
    overflow: hidden;
    display: none;
  }



.hhh{
      height: 60px;
      
      background-color:#fff;
      margin-top:50px;
          width: 1181px;
          max-width: 100%;
      border-bottom:  1px solid #dde2e6;
   

      }
      .title{
        margin-left: 50px;
        padding-top: 5px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
        max-width: 1180px;
         background-color: #fff;
       }
     

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height:450px;
          margin-top: 50px;
          max-width: 31%;
          margin-left: 14px;

      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
      border: 2px solid black;
      width: 200px;
      height:33px;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      }

     footer{

      margin-left: 2px;

     }

  .topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;
 
}
.topnav .icon {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  min-height: 1170px;
  background-color: #edf1f2;
  color: #000;
}


}


     /*  950px */

    @media only screen and (max-width: 950px){

      #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }

    header{
  height: 110px;
  width: 100%;
  background-color: white;
}

.menu{
display: flex;
margin-top: 5px;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;
}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 700px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  margin-top: 20px;
 
}

.icon{
  margin-top: 20px;
}

 .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: black;
  }
  nav {
    width: 100%;
    height: 100px;
  }
  .topnav.responsive {
    position: relative;
    background-color: #fff;
    height: 500px;
    justify-content: center;
   flex-wrap: wrap;
  
  align-items: center;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 200px;
    margin-bottom: 100px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #image{
    overflow: hidden;
    display: none;
  }



.hhh{
      height: 60px;
      
      background-color:#fff;
      margin-top:50px;
          width: 1181px;
          max-width: 100%;
      border-bottom:  1px solid #dde2e6;
   

      }
      .title{
        margin-left: 50px;
        padding-top: 5px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
        max-width: 1180px;
         background-color: #fff;
       }
     

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height:450px;
          margin-top: 50px;
          max-width: 31%;
          margin-left: 14px;

      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
      border: 2px solid black;
      width: 200px;
      height:33px;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      }

     footer{

      margin-left: 2px;

     }

  .topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;
 
}
.topnav .icon {
  display: none;
}


}

     @media only screen and (max-width: 900px){

      #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        color: #fff;
    }




    header{
  height: 100px;
  width: 100%;
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  min-height: 1170px;
  background-color: #edf1f2;
  color: #000;
}

.menu{
      display: flex;
margin-top: 0;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;

}


.logo {


  background: #fff;
  max-width: 100%;
  margin-right: 700px;

}

.graficlogo {
  padding: 5px;
  max-width: 100%


}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.topnav {
  background-color: #fff;
  font-size: 14;
    display: flex;
  margin-top: 20px;
 
}

.icon{
  margin-top: 20px;
}

 .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -23px;
    display: block;
    color: black;
  }
  nav {
    width: 100%;
    height: 100px;
  }
  .topnav.responsive {
    position: relative;
    background-color: #fff;
    height: 500px;
    justify-content: center;
   flex-wrap: wrap;
  
  align-items: center;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 200px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #image{
    overflow: hidden;
    display: none;
  }



.hhh{
      height: 60px;
      
      background-color:#fff;
      margin-top:50px;
          width: 1181px;
          max-width: 100%;
      border-bottom:  1px solid #dde2e6;
   

      }
      .title{
        margin-left: 50px;
        padding-top: 5px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
        max-width: 1180px;
         background-color: #fff;
       }
     

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height:450px;
          margin-top: 50px;
          max-width: 31%;
          margin-left: 14px;

      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
      border: 2px solid black;
      width: 200px;
      height:33px;
      background-color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 5px;
      }

     footer{

      margin-left: 2px;

     }

  .topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;
 
}
.topnav .icon {
  display: none;
}
}


@media only screen and (max-width: 850px){

  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf1f2 ;
    color: #fff;
}

header{
height: 100px;
width: 100%;
background-color: white;
}

.menu{
display: flex;
margin-top: 5px;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;
}


.logo {


background: #fff;
max-width: 100%;
margin-right: 700px;

}

.graficlogo {
padding: 5px;
max-width: 100%


}

nav {
display: flex;
justify-content: flex-end;
width: 100%;
height: 100px;
}

.topnav {
background-color: #fff;
font-size: 14;
display: flex;
margin-top: 20px;

}

.icon{
margin-top: 20px;
}

.topnav a {
display: none;
}
.topnav a.icon {
float: right;
margin-top: -23px;
display: block;
color: black;
}
nav {
width: 100%;
height: 100px;
}
.topnav.responsive {
position: relative;
background-color: #fff;
height: 500px;
justify-content: center;
flex-wrap: wrap;

align-items: center;
padding-left: 200px;
padding-right: 40px;
padding-bottom: 200px;
margin-bottom: 100px;

}
.topnav.responsive a.icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}

#image{
overflow: hidden;
display: none;
}



.hhh{
  height: 60px;
  
  background-color:#fff;
  margin-top:50px;
      width: 1181px;
      max-width: 100%;
  border-bottom:  1px solid #dde2e6;


  }
  .title{
    margin-left: 50px;
    padding-top: 5px;
  }

  .goods-list{
      display: flex;
      flex-flow: row wrap;
     max-height: 1200px;
     width:100%;
    max-width: 1180px;
     background-color: #fff;
   }
 

  .img-item{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 250px;
      max-width:100%;
      padding: 10px;
  }
  .price-tag{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 390px;
      height:450px;
      margin-top: 50px;
      max-width: 31%;
      margin-left: 14px;

  }
  .itemname{
    font-size: 20px;
    margin-top: 20px;
  }
  .priseitem{
    font-size: 20px;
    color: black;
  }

  .prise-btn {
  border: 2px solid black;
  width: 200px;
  height:33px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  }

 footer{

  margin-left: 2px;

 }

 .text{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
  }

.topnav a {
color: #000;
text-align: center;
padding: 14px 16px;
font-size: 30px;

}
.topnav .icon {
display: none;
}
}


@media only screen and (max-width: 750px){
  nav {
    width: 100%;
    height: 100px;
    }
    .topnav.responsive {
    position: relative;
    background-color: #fff;
    height: 500px;
    justify-content: center;
    flex-wrap: wrap;
    
    align-items: center;
    padding-left: 200px;
    padding-right: 30px;
    padding-bottom: 200px;
    margin-bottom: 100px;
    }
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

    .text{
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 14px;
      }
}



@media only screen and (max-width: 700px){

  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf1f2 ;
    color: #fff;
}

header{
height: 75px;
width: 100%;
background-color: white;
margin-bottom: 30px;
}

.menu{
display: flex;
margin-top: 5px;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;
}


.logo {


background: #fff;
max-width: 100%;
margin-right: 700px;

}

.graficlogo {
padding: 5px;
max-width: 100%


}

nav {
display: flex;
justify-content: flex-end;
width: 100%;
height: 100px;
}

.topnav {
background-color: #fff;
font-size: 14;
display: flex;
margin-top: 20px;

}

.icon{
margin-top: 20px;
}

.topnav a {
display: none;
}
.topnav a.icon {
float: right;
margin-top: -26px;
display: block;
color: black;
}
nav {
width: 100%;
height: 85px;
}
.topnav.responsive {
position: relative;
background-color: #fff;
height: 433px;
justify-content: center;
flex-wrap: wrap;
align-items: center;
padding-right: 0;
padding-left: 200px;
padding-bottom: 200px;
}

.topnav.responsive a.icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
font-size: 25px;
margin-left: 0;
}

#image{
overflow: hidden;
display: none;
}



.hhh{
  height: 60px;
  
  background-color:#fff;
  margin-top:50px;
      width: 1181px;
      max-width: 100%;
  border-bottom:  1px solid #dde2e6;


  }
  .title{
    margin-left: 50px;
    padding-top: 5px;
  }

  .goods-list{
      display: flex;
      flex-flow: row wrap;
     max-height: 1200px;
     width:100%;
    max-width: 1180px;
     background-color: #fff;
   }
 

  .img-item{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 250px;
      max-width:100%;
      padding: 10px;
  }
  .price-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 350px;
    margin-top: 50px;
    max-width: 30%;
    margin-left: 14px;
    margin-bottom: 20px;
}
  .itemname{
    font-size: 20px;
    margin-top: 20px;
  }
  .priseitem{
    font-size: 20px;
    color: black;
  }

  .prise-btn {
    border: 2px solid black;
    width: 150px;
    height: 33px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

 footer{
    width: 100%;
    height: 170px;
    background-color: #202326;
    color: white;
 }
 .text{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 11px;
  }

.topnav a {
color: #000;
text-align: center;
padding: 14px 16px;
font-size: 30px;

}
.topnav .icon {
display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  min-height: 980px;
  background-color: #edf1f2;
  color: #000;
}
}

@media only screen and (max-width: 699px){

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 25px;
      margin-left: 100px;
  }
}

@media only screen and (max-width: 600px){

  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf1f2 ;
    color: #fff;
}

header{
height: 80px;
width: 100%;
background-color: white;
}

.menu{
display: flex;
margin-top: 5px;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;
}


.logo {


background: #fff;
max-width: 100%;
margin-right: 700px;

}

.graficlogo {
padding: 5px;
max-width: 100%


}

nav {
display: flex;
justify-content: flex-end;
width: 100%;
height: 80px;
}

.topnav {
background-color: #fff;
font-size: 14;
display: flex;
margin-top: 20px;

}

.icon{
margin-top: 20px;
}

.topnav a {
display: none;
}
.topnav a.icon {
float: right;
margin-top: -31px;
display: block;
color: black;
}
nav {
width: 100%;
height: 80px;
}
.topnav.responsive {
position: relative;
background-color: #fff;
height: 400px;
justify-content: center;
flex-wrap: wrap;

align-items: center;
padding-left: 200px;
padding-right: 10px;
padding-bottom: 200px;
margin-bottom: 100px;
}
.topnav.responsive a.icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
font-size: 21px;
}

#image{
overflow: hidden;
display: none;
}



.hhh{
  height: 60px;
  
  background-color:#fff;
  margin-top:50px;
      width: 1181px;
      max-width: 100%;
  border-bottom:  1px solid #dde2e6;


  }
  .title{
    margin-left: 50px;
    padding-top: 5px;
  }

  .goods-list{
      display: flex;
      flex-flow: row wrap;
     max-height: 1200px;
     width:100%;
    max-width: 1180px;
     background-color: #fff;
   }
 

  .img-item{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 205px;
      max-width:100%;
      padding: 10px;
  }
  .price-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 348px;
    margin-top: 27px;
    max-width: 30%;
    margin-left: 14px;
}
  .itemname{
    font-size: 20px;
    margin-top: 20px;
  }
  .priseitem{
    font-size: 20px;
    color: black;
  }

  .prise-btn {
  border: 2px solid black;
  width: 170px;
  height:33px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  }

 footer{

  margin-left: 2px;

 }
 .text{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 11px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    min-height: 940px;
    background-color: #edf1f2;
    color: #000;
}

.topnav a {
color: #000;
text-align: center;
padding: 14px 16px;
font-size: 30px;

}
.topnav .icon {
display: none;
}
}



@media only screen and (max-width: 540px){

  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf1f2 ;
    color: #fff;
}

header{
height: 80px;
width: 100%;
background-color: white;
}

.menu{
display: flex;
margin-top: 5px;
margin-right: 10px;
flex-direction: column;
justify-content: center;
-ms-align-items: center;
align-items: center;
}


.logo {


background: #fff;
max-width: 100%;
margin-right: 700px;

}

.graficlogo {
padding: 5px;
max-width: 100%


}

nav {
display: flex;
justify-content: flex-end;
width: 100%;
height: 80px;
}

.topnav {
background-color: #fff;
font-size: 14;
display: flex;
margin-top: 20px;

}

.icon{
margin-top: 20px;
}

.topnav a {
display: none;
}
.topnav a.icon {
float: right;
margin-top: -31px;
display: block;
color: black;
}
nav {
width: 100%;
height: 80px;
}
.topnav.responsive {
position: relative;
background-color: #fff;
height: 400px;
justify-content: center;
flex-wrap: wrap;

align-items: center;
padding-left: 200px;
padding-right: 10px;
padding-bottom: 200px;
margin-bottom: 100px;
}
.topnav.responsive a.icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
font-size: 21px;
margin-left: 170px;
}

#image{
overflow: hidden;
display: none;
}



.hhh{
  height: 60px;
  
  background-color:#fff;
  margin-top:50px;
      width: 1181px;
      max-width: 100%;
  border-bottom:  1px solid #dde2e6;


  }
  .title{
    margin-left: 50px;
    padding-top: 5px;
  }

  .goods-list{
      display: flex;
      flex-flow: row wrap;
     max-height: 1200px;
     width:100%;
    max-width: 1180px;
     background-color: #fff;
   }
 

  .img-item{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 205px;
      max-width:100%;
      padding: 10px;
  }
  .price-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 348px;
    margin-top: 27px;
    max-width: 30%;
    margin-left: 14px;
}
  .itemname{
    font-size: 20px;
    margin-top: 20px;
  }
  .priseitem{
    font-size: 20px;
    color: black;
  }

  .prise-btn {
  border: 2px solid black;
  width: 151px;
  height:33px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  }

 footer{

  margin-left: 2px;

 }
 .text{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    min-height: 940px;
    background-color: #edf1f2;
    color: #000;
}

.topnav a {
color: #000;
text-align: center;
padding: 14px 16px;
font-size: 30px;

}
.topnav .icon {
display: none;
}
}



     /*  480px */

     @media only screen and (max-width: 480px){

      #main{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #edf1f2 ;
          color: #fff;
          max-width: 100%;

      }

      .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #edf1f2 ;
        max-width: 100%;
      }

      .navbar{
        display: flex;
        height: 10vh;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 100%;
        background-color: #3f4246;
        margin-bottom: 20px;
        max-width: 100%;
    }

      .menu {
          width: 35%;
          max-width: 100%;
          margin-right: 9%
      }
      .menu ul{
          display: flex;
          padding: 120px;
          list-style: none;
          max-width: 100%;

      }



      .menu-link{
          color: white;
          text-decoration: none;
          margin-right: 30px;

      }

      .logo{
        margin-right:42%;
          max-width: 100%;
      }

      .hhh{
      height: 60px;
      width: 100%;
      background-color:#fff;
      margin-top:50px;

      border-bottom:  1px solid #dde2e6;
    max-width: 100%;
      }
      .title{
        margin-left: 50px;
        padding-top: 20px;
      }

      .goods-list{
          display: flex;
          flex-flow: row wrap;
         max-height: 1200px;
         width:100%;
         max-width: 820px;
         background-color: #fff;
         max-width: 100%;
      }

      .img-item{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 250px;
          max-width:100%;
          padding: 10px;
      }
      .price-tag{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 390px;
          height: 301px;
          margin-top: 50px;
          max-width: 30%;
      }
      .itemname{
        font-size: 20px;
        margin-top: 20px;
      }
      .priseitem{
        font-size: 20px;
        color: black;
      }

      .prise-btn {
        border: 2px solid black;
        width: 121px;
        height: 42px;
        background-color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        }

        footer {
          width: 100%;
           height: 155px; 
          background-color: #202326;
          color: white;
      }
         .text{
          display: flex;
          justify-content: center;
          padding: 10px;
          font-size: 8px;
          }
        
          .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 65vh;
            min-height: 900px;
            background-color: #edf1f2;
            color: #000;
        }
        
        .topnav a {
        color: #000;
        text-align: center;
        padding: 14px 16px;
        font-size: 30px;
        
        }
        .topnav .icon {
        display: none;
        }


        nav {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 80px;
          }
          
          .topnav {
          background-color: #fff;
          font-size: 14;
          display: flex;
          margin-top: 20px;
          
          }
          
          .icon{
          margin-top: 20px;
          }
          
          .topnav a {
          display: none;
          }
          .topnav a.icon {
          float: right;
          margin-top: -31px;
          display: block;
          color: black;
          }
          nav {
          width: 100%;
          height: 80px;
          }
          .topnav.responsive {
              position: relative;
              background-color: #fff;
              height: 320px;
              justify-content: center;
              flex-wrap: wrap;
              align-items: center;
              padding-left: 241px;
              padding-right: 212px;
              padding-bottom: 230px;
              margin-bottom: 100px;
          }
          .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
          }
          .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
          font-size: 21px;
          }

      }  